.toggle {
  display: flex;
  position: relative;
  left: 10px;
  margin-right: 20px;
}

.toggle__checkbox {
  width: 50px;
  height: 30px;
  border: 2px solid #000;
  border-radius: 25px;
  appearance: none;
}

.toggle__slider {
  position: absolute;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  background-color: #000;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.toggle__slider-F {
  top: 1px;
  left: 20px;
}

.toggle__slider-C {
  top: 1px;
  left: 2px;
}

.toggle__temp-C {
  position: absolute;
  top: -16px;
  left: 9px;
  color: #fff;
}

.toggle__temp-F {
  position: absolute;
  top: -16px;
  left: 30px;
  color: #fff;
}

.toggle__active {
  font-size: 16px;
}
