.card {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 323px;
  max-height: 323px;
  font-family: "Cabinet Grotesk", "Arial", sans-serif;
}

.card__name {
  position: absolute;
  display: flex;
  top: 15px;
  max-width: 73px;
  max-height: 24px;
  padding: 0 12px 0 12px;
  margin: 0 10px 0 0;
  background-color: #fff;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
}

.card__image {
  width: 325px;
  height: 328px;
  border: 1px #000;
  border-radius: 19px;
}

.card__like-button {
  background-image: url("../../assets/like-btn.svg");
  position: absolute;
  left: 200px;
  top: 15px;
  width: 20px;
  height: 18px;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
  color: #000;
  background-color: transparent;
}

.card__like-button_active {
  background-image: url("../../assets/like-btn-active.svg");
}
